* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100%;
  font-family: Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
}

.nav-menu1 ul{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    list-style-type: none;
    color: #838484;
    font-weight: 600;
}

.nav-menu1 ul li{cursor: pointer;

}

.nav-menu2 ul{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    list-style-type: none;
    color: #838484;
    font-weight: 600;
    margin-right: 20px;
}

.nav-menu2 ul li{cursor: pointer;

}

.nav-menu2 ul img{cursor: pointer;
    margin-top: -5px;
    border-radius: 5px;
    

}
.nav-menu2 ul button{
    color: aliceblue;
    background-color: #1778DE;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 5px;
    margin-top: -5px;
}

.nav-menu1 ul li:hover{
    text-decoration: underline;
}

.nav-menu2 ul li:hover{
    text-decoration: underline;
}


.nav-menu2 ul img:hover{
    background-color: #838484;
}

.nav-menu2 ul button:hover{
   background-color: #014b99;
}