* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100%;
  font-family: Arial, sans-serif;
}

.container{display: flex;
    flex-direction: column;

}


nav{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;
}

.nav-menu1 ul{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    list-style-type: none;
    color: #838484;
    font-weight: 600;
}

.nav-menu1 ul li{cursor: pointer;

}

.nav-menu2 ul{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    list-style-type: none;
    color: #838484;
    font-weight: 600;
    margin-right: 20px;
}

.nav-menu2 ul li{cursor: pointer;

}

.nav-menu2 ul img{cursor: pointer;
    margin-top: -5px;
    border-radius: 5px;
    

}
.nav-menu2 ul button{
    color: aliceblue;
    background-color: #1778DE;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 5px;
    margin-top: -5px;
}

.nav-menu1 ul li:hover{
    text-decoration: underline;
}

.nav-menu2 ul li:hover{
    text-decoration: underline;
}


.nav-menu2 ul img:hover{
    background-color: #838484;
}

.nav-menu2 ul button:hover{
   background-color: #014b99;
}

main{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 76vh;
    gap: 1.3rem;

}


.search{
font-size: 35px;
border-radius: 30px;
font-weight: 100;
max-width: 50vh;
max-height: 50vh;
border: 1px solid black;
}



.google-buttons{display: flex;
    justify-content: center;
    gap: 1rem;
    
}

.google-buttons button{
    font-size: 1rem;
    padding: 10px;
}